.toesslab-attributes {
    max-height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ccm-dashboard-form-actions-wrapper {
    z-index: 560 !important;
}
#progressbar-progress-container {
    border: 1px solid #dedede;
    height: 25px;
    width: 100%;
}
#progressbar-progress {
    background: #337ab7;
    display: block;
    height: 25px;
    text-align: center;
}
#progressbar-progress-percent {
    width: 100%;
    display: block;
    height: 25px;
    text-align: center;
}
.ui-dialog-titlebar-close {
    display: none !important;
}
